
@{
    ViewData["Title"] = "GetDoctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>


@model IEnumerable<VisitDTO>

<body>
    <h1>sss</h1>
    <button style="float:right; margin-bottom:5px" class="btn btn-dark btn-outline-primary" onclick="location.href='@Url.Action("AddVisit", "Visit")'"> Add Visit </button>
    <table class="table table-dark">
        <thead>
            <tr>

                <th scope="col">@Html.DisplayNameFor(model => model.PatientUCIN)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.DoctorUCIN)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.CurrentFinding)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.WorkingDiagnosis)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Therapy)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                {
                    <tr>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.PatientUCIN)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.DoctorUCIN)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.CurrentFinding)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkingDiagnosis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Therapy)
                        </td>
                        <td>
                            @Html.ActionLink("View", "GetVisit", "Visit", new { Id = item.Id })
                            |
                            @Html.ActionLink("Delete", "DeleteVisit", "Visit", new { Id = item.Id })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>