@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using EKartonWebApp.ViewModels
@model DoctorVM
@{
    ViewData["Title"] = "Login";
    Layout = "";
}
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
<h2>Login</h2>
@using (Html.BeginForm("PostDoctor", "Home", FormMethod.Post))
{
    //this is for create form tag
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {

        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }

    <table>
        <tr>
            <td>@Html.LabelFor(a => a.FirstName)</td>
            <td>@Html.TextBoxFor(a => a.FirstName)</td>
            <td>@Html.ValidationMessageFor(a => a.FirstName)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.LastName)
            </td>
            <td>
                @Html.TextBoxFor(a => a.LastName)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.LastName)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="PutLekar" class="btn btn-secondary"/>
            </td>
            <td></td>
        </tr>
    </table>
}
<a asp-area="" asp-controller="Home" asp-action="Register">Register</a>
<a asp-area="" asp-controller="Home" asp-action="GetDoctors">GetGetGet</a>
@*@using (Html.BeginForm("Register", "Home"))
    {
        <table>
            <td></td>
            <td>
                <input type="button" value="Register" />
            </td>
            <td></td>
        </table>
    }*@

