
@{
    ViewData["Title"] = "GetLekari";
}

<h1>GetLekari</h1>

@model IEnumerable<LekarDTO>
@{
    Layout = null;
}


<table cellspacing="0" border="1" style="border-collapse:collapse;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        @*<th>
            Link
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>*@
        </tr>
    }
    </table>