@using EKartonWebApp.ViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
@{
    var selectList = new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem {Text = "Lekar", Value = "Lekar"},
            new SelectListItem {Text = "Pacijent", Value = "Pacijent"},
                                            }, "Value", "Text");
}
<h1>Register</h1>

@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
<table>
    <tr>
        <td>
            @Html.LabelFor(model => model.Ime)
        </td>
        <td>
            @Html.EditorFor(model => model.Ime)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Prezime)
        </td>
        <td>
            @Html.EditorFor(model => model.Prezime)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.EMail)
        </td>
        <td>
            @Html.EditorFor(model => model.EMail)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Username)
        </td>
        <td>
            @Html.EditorFor(model => model.Username)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Password)
        </td>
        <td>
            @Html.EditorFor(model => model.Password)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.ConfirmPassword)
        </td>
        <td>
            @Html.EditorFor(model => model.ConfirmPassword)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.JMBG)
        </td>
        <td>
            @Html.EditorFor(model => model.JMBG)
        </td>
    </tr>
    </table>
<div style="margin-top:20px">
    @Html.DropDownList("Sortby", new SelectListItem[]
    {
         new SelectListItem() { Text = "Pacijent", Value = "0" },
         new SelectListItem() { Text = "Lekar", Value = "1" }},
         new
         {
             @onchange = "callChangefunc(this.value)"
    });
</div>
<div style="margin-top:20px">
    <div id="LBO">
        <div>
            @Html.LabelFor(model => model.LBO)
        </div>
        <div>
            @Html.EditorFor(model => model.LBO)
        </div>
    </div>

    <div id="BrojFaksimila" style="display:none">
        <div>
            @Html.LabelFor(model => model.BrojFaksimila)
        </div>
        <div>
            @Html.EditorFor(model => model.BrojFaksimila)
        </div>
    </div>
</div>
    <table>
        @*<td>
                @Html.DropDownListFor(m => m.Tip, selectList, "Izaberi", new {onchange })
            </td>*@

        <td>
            <input type="submit" value="Submit">
        </td>
    </table>
    }
    <a asp-controller="Home" asp-action="Login"> Back to login</a>
    <a asp-area="" asp-controller="Home" asp-action="Lekar">Lekar</a>


    <script>
        function callChangefunc(val) {
            var x = document.getElementById("BrojFaksimila");
            var y = document.getElementById("LBO");
            if (val == 1) {
                y.style.display = "none";
                x.style.display = "block";
            }
            else {
                x.style.display = "none";
                y.style.display = "block";
            }
        }
    </script>

